
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="welcome_bakery_area cake_feature_main p_100">
	<div class="container">
        <div class="main_title">
            <h2>Địa chỉ</h2>
            <h5> Đến ngay địa chỉ của cửa hàng để được xem nhiều Trà sữa ngon hơn!</h5>
            Tiệm trà Đông Đông - 295 Tạ Văn Sáu - Xã Đất Đỏ - Thành phố HỒ Chí Minh</h5>
            <h5> Liên hệ ngay SĐT: 0937 513 391</h5>
        </div>
        <iframe 
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d8900.396037866109!2d107.27032518097766!3d10.480515235010827!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1763690958219!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	</div>
</section>